{% extends 'orders/base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block css %}
    <link href="{% static 'vendor/css/order.css'%}" rel="stylesheet">
{% endblock     %}
    
{% block pagecontent %}
<div class="page-content" style="margin-bottom: 100px;">
<form method="post" enctype="multipart/form-data" id="upload-form">
    {% csrf_token %}
    <div class="custom-card">
        <div class="container-fluid text-center p-3">
            <h2>Create order</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="header-title mt-0 mb-3">Information</h4>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0 table-centered">
                        <tbody>
                        <tr>
                            <td><label for="{{form.due_by.id_for_label}}" class="form-label pt-2">Time for work(hours)</label></td>
                            <td>{{form.due_by}}</td>
                        </tr>
                        <tr>
                            <td><label for="{{form.marketplace_id.id_for_label}}" class="form-label pt-2">Marketplace</label></td>
                            <td> 
                                <select class='form-control' name="marketplace_id" >
                                    {% for obj in marketplace %}
                                        <option value="{{ obj.pk }}">{{ obj.marketplace_name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="{{form.instruction_for_worker.id_for_label}}" class="form-label pt-2">Instructions To Worker</label></td>
                            <td>{{form.instruction_for_worker}}</td>
                        </tr>
                        <tr>
                            <td><label for="{{form.font.id_for_label}}" class="form-label pt-2">Font</label></td>
                            <td>{{form.font}}</td>
                        </tr>
                        <tr>
                            <td><label for="{{form.text.id_for_label}}" class="form-label pt-2">Text</label></td>
                            <td>{{form.text}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->

        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="header-title">Sizes</h4>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0 table-centered">
                        <tbody>
                        <tr>
                            <td><label for="{{ form.x_size.id_for_label }}" class="form-label pt-2">X</label></td>
                            <td>{{ form.x_size }}</td>
                            <td><label for="{{ form.y_size.id_for_label }}" class="form-label pt-2">Y</label></td>
                            <td>{{ form.y_size }}</td>
                            <td><label for="{{ form.z_size.id_for_label }}" class="form-label pt-2">Z</label></td>
                            <td>{{ form.z_size }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->

        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="header-title">Image Upload</h4>
                </div>
                <div class="box" id='box'>
                    <div class='input-bx'>
                        <input type='file' id='upload' name="sourse_files" multiple hidden>
                        <label for="upload" class='uploadlabel'>
                            <span><i class='fa fa-cloud-upload'></i></span>
                            <p>Click to upload</p>
                        </label>
                    </div>
                    <div id="filewrapper">
                        <h3 class='uploaded'>Uploaded Files</h3>
                    </div>
                </div>
            </div>    
        </div><!--end card-->
        <div class="card">
            <div class="card-body text-center">
                <button type="submit" class="btn btn-success">Create new order</button>
            </div>
        </div>
    </div>
</form>

<script>
    window.addEventListener("load", () => {
        const input = document.getElementById("upload");
        const filewrapper = document.getElementById("filewrapper");
        const box = document.getElementById("box");
        let fileList = new DataTransfer(); // Для зберігання перетягнутих файлів
    
        input.addEventListener("change", (e) => {
            let files = e.target.files;
            handleFiles(files);
        });
    
        const handleFiles = (files) => {
            for (let i = 0; i < files.length; i++) {
                let file = files[i];
                fileList.items.add(file); // Додаємо файли до DataTransfer
                fileshow(file);
            }
            input.files = fileList.files; // Оновлюємо інпут для файлів
        };
    
        const fileshow = (file) => {
            const fileName = file.name;
            const fileType = file.name.split(".").pop();
    
            const showfileboxElem = document.createElement("div");
            showfileboxElem.classList.add("showfilebox");
    
            const leftElem = document.createElement("div");
            leftElem.classList.add("left");
    
            const fileTypeElem = document.createElement("span");
            fileTypeElem.classList.add("filetype");
            fileTypeElem.innerHTML = fileType;
            leftElem.append(fileTypeElem);
    
            const filetitleElem = document.createElement("h3");
            filetitleElem.innerHTML = fileName;
            leftElem.append(filetitleElem);
            showfileboxElem.append(leftElem);
    
            const rightElem = document.createElement("div");
            rightElem.classList.add("right");
            showfileboxElem.append(rightElem);
    
            const crossElem = document.createElement("span");
            crossElem.innerHTML = "&#215;";
            rightElem.append(crossElem);
    
            filewrapper.append(showfileboxElem);
    
            crossElem.addEventListener("click", () => {
                filewrapper.removeChild(showfileboxElem);
                fileList.items.remove(fileList.items.findIndex(item => item.getAsFile().name === file.name)); // Видалення файлу з DataTransfer
                input.files = fileList.files; // Оновлюємо інпут для файлів
            });
        };
    
        box.addEventListener("dragover", (e) => {
            e.preventDefault();
            box.classList.add("dragover");
        });
    
        box.addEventListener("dragleave", () => {
            box.classList.remove("dragover");
        });
    
        box.addEventListener("drop", (e) => {
            e.preventDefault();
            box.classList.remove("dragover");
            let files = e.dataTransfer.files;
            handleFiles(files);
        });
    });
    
</script>

{% endblock %}


 