{% extends 'orders/base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block css %}
    <link href="{% static 'vendor/css/order.css'%}" rel="stylesheet">
{% endblock     %}
    
{% block pagecontent %}
    <div class="page-content">
    <div class="container-fluid p-3">
          <h5>Hi user, ready to work?</h5>
      </div>

      <div class="container-fluid">


         <!-- First table -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-eco">
                    <div class="card-body">
                        <div class="d-flex align-items-start flex-column"> 
                            <div> 
                                <h3 class="font-weight-bold p-2">Shipped</h3>
                            <div>
                            <h4 class="mt-auto p-2">
                                Ship by July 11, 2023        
                            </h4>
                        </div>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end col-->
            <!--Upload Results modal-->


        <!-- Table indormation -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <h4 class="header-title mt-0 mb-3">Information</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table mb-0 table-centered">
                                        <tbody>
                                        <tr>
                                            <td>Created On</td>
                                            <td>{{history.0.date_creation|date:"Y-m-d H:i:s"}}</td>
                                        </tr>
                                        <tr>
                                            <td>Ship By</td>    
                                                <td>{{information.ship_by}}</td>
                                        </tr>
                                        <tr>
                                            <td>Marketplace</td>
                                            <td>
                                                {{order.marketplace_id.marketplace_name}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Order ID</td>
                                            <td>{{order.id}}</td>
                                        </tr>
                                        <tr>
                                            <td>Due By</td> 
                                                    <td>
                                                            July 13, 2023, 11:18 a.m.
                                                    </td>   
                                        </tr>
                                        <tr>
                                            <td>Font</td>
                                            <td><span class="font-georgia">{{information.font}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>Instructions To Worker</td>
                                            <td><p>{{information.instruction_for_worker}} </p></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div><!--end card-body-->
                        </div><!--end card-->

                        <!-- Crystal setings -->
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table mb-0 table-centered">
                                        <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Category</th>
                                            <th>Inventory SKU</th>
                                            <th>Core SKU</th>
                                            <th>Qty</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        
                                            <tr>
                                                <td>Crystal</td>
                                                <td>Brick</td>
                                                <td>SCRT1001</td>
                                                <td>SCRT1001-B</td>
                                                <td>1</td>
                                            </tr>
                                        
                                            <tr>
                                                <td>Accessory</td>
                                                <td>Black LED Base</td>
                                                <td>LBBR1101</td>
                                                <td>LBBR1101</td>
                                                <td>1</td>
                                            </tr>
                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                  
                        <!-- Completed assets -->
                            {% comment %} <div class="card">
                                <div class="card-body">
                                    <div>
                                        <h4 class="header-title mt-0 mb-3">Completed Assets</h4>
                                    </div>
                                    <div class="file-box-content">
                                        
                                        
                
                                    </div>
                                    
                                        <div class="download-zipped-body mt-3 d-flex justify-content-end">
                                        <div class="ml-2">
                                            <a href="/portal/api/jobs/71858/complete_files/zipped/" class="btn btn-outline-secondary waves-effect waves-light download-zipped-files"><i class="far fa-arrow-alt-circle-down font-18"></i> Download as ZIP archive</a>
                                        </div>
                                        <div>
                                            <a href="/portal/api/jobs/71858/download_csax/" class="btn btn-primary waves-effect waves-light ml-2"><i class="mdi mdi mdi-file-excel font-18"></i>  Download CSAX</a>
                                        </div>
                                        </div>
                                  
                                </div><!--end card-body-->
                            </div><!--end card--> {% endcomment %}
                            
                        
                            <!--Sourse Assets  -->
                            
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <h4 class="header-title mt-0 mb-3">Source Assets</h4>
                                    </div>
                                    <div class="file-box-content">
                                        <div class="file-box">
                                            <div class="align-self-center text-right pb-3">
                                                <i class="fa-solid fa-download down"></i>
                                                    {% comment %}                                                
                                                    {% for dat in sourseassets %}  
                                                        <img src='{{ dat.sourse_files.url }}'>
                                                    {%endfor%} {% endcomment %}
                                                   
                                            </div>
                                        </div>
                                    </div>  
                                </div><!--end card-body-->
                            </div><!--end card--> 
 


                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <h4 class="header-title mt-0 mb-3">Completed Assets</h4>
                                    </div>
                                    <div class="file-box-content">
                                        
                                            
                                                <div class="file-box" id="file-box-id-727574">
                                                    <div class="align-self-center text-right pb-3">
                                                        
                                                        <div class="d-inline-block download-icon-link">
                                                            <a href="/portal/api/file/t2rrx38t33zdjr9g/" class="download-icon-link" download="" data-container="body" data-toggle="popover" data-content="Download file" data-placement="top" data-original-title="" title="">
                                                                <i class="dripicons-download" style="font-size: 14px"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="text-center">
                                                        <a href="/portal/api/file/t2rrx38t33zdjr9g/" class="download-icon-link" download="">
                                                            
                                                                <img src="/portal/api/thumbnail/t2rrx38t33zdjr9g/" alt="Image Preview" style="width: 80px">
                                                            
                                                            <h6 class="text-truncate">.jpg</h6>
                                                            <small class="text-muted">3&nbsp;weeks, 2&nbsp;days ago</small><br>
                                                            <small class="text-muted">311.3KiB</small>
                                                        </a>
                                                    </div>
                                                </div>
                                            

                                            
                                        
                                    </div>
                                    
                                        <div class="download-zipped-body mt-3 d-flex justify-content-end">
                                        <div class="ml-2">
                                            <a href="/portal/api/jobs/86341/complete_files/zipped/" class="btn btn-outline-secondary waves-effect waves-light download-zipped-files"><i class="far fa-arrow-alt-circle-down font-18"></i> Download as ZIP archive</a>
                                        </div>
                                        <div>
                                            <a href="/portal/api/jobs/86341/download_csax/" class="btn btn-primary waves-effect waves-light ml-2"><i class="mdi mdi mdi-file-excel font-18"></i>  Download CSAX</a>
                                        </div>
                                        </div>
                                    
                                </div><!--end card-body-->
                            </div>



                        <!--Tasks Block-->
                            <div class="card">
                              <div class="card-body">
                                  <div>
                                      <h4 class="header-title mt-0 mb-3">Tasks</h4>
                                      
                                  </div>
                                  <div class="table-responsive">
                      
                                      <table class="table mb-0">
                                          <thead>
                                              <tr>
                                                  <td style="width: 40%">Task Type</td>
                                                  <td style="width: 20%">Rate, USD</td>
                                                  <td style="width: 20%">Quantity</td>
                                                  <td style="width: 20%">Total, USD</td>
                                              </tr>
                                          </thead>
                                          <tbody> 
                                              <tr>
                                                  <td>Person Conversion</td>
                                                  <td>$ 2.50</td>
                                                  <td><input class="positive-input form-control" ></td>
                                                  <td>$ 2.50</td>
                                              </tr>
                                          <tr>
                                              <td></td>
                                              <td>Total</td>
                                              <td>1</td>
                                              <td>$ 2.50</td>
                                          </tr>
                                          
                                          </tbody>
                                      </table>
                                  </div>
                                      <div>
                                          <button class="btn btn-primary">Update tasks</button>
                                      </div>
                                  </div><!--end card-body-->
                              </div><!--end card-->
                          
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mt-0 mb-3">History</h4>
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 2000px;">
                                    <div class="slimscroll crm-dash-activity" style="overflow: hidden; width: auto; height: 2000px;">
                                        <div class="activity">
                                            {% for dat in history %}    
                                            <div class="time-item">
                                                <div class="item-info">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h6 class="m-0">{{dat.history_description_id.name}}</h6>
                                                        
                                                        <span class="text-muted cursor-pointer">{{dat.date_creation|date:"Y-m-d H:i:s"}}</span>
                                                        
                                                    </div>
                                                    <p class="text-muted mt-3">
                                                        {{dat.history_description_id.description}} {{dat.description}}
                                                    </p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            
                                        </div><!--end activity-->
                                    </div>
                                </div><!--end crm-dash-activity-->
                            </div>  <!--end card-body-->
                        </div><!--end card-->
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div>

</div>
{% endblock %}